.header__title-modifier{
    color: var(--color-brand-1);
}
.header__container{
    background-color: var(--color-grey-4);
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    gap: 20px;
    padding: 0 5%;
}
@media (min-width: 1000px) {
    .header__container{
        flex-direction: row;
        align-items: center;
        gap: 310px;
    } 
    .header__button{
        height: 2.5rem;
        width: 12.5rem;
    }
}